<h1>Workouts</h1>

<table class='table'>
  <tr>
    <th>When</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Score</th>
    <th></th>
  </tr>

  <% @workouts.each do |workout| %>
    <tr>
      <td>
        <% if workout.workout_date %>
          <%= workout.workout_date.to_s(:slim) %>
          (<%= time_ago_in_words workout.workout_date %> ago)
        <% else %>
          -
        <% end %>
      </td>
      <td><%= workout.rating.nil? ? '-' : workout.rating %></td>
      <td><%= workout.description.nil? ? '-' : workout.description %></td>
      <td><%= @score[workout.workout_date].to_s %></td>
      <% if person_signed_in? and current_person.id == workout.person.id %>
        <td>
          <% if workout.id %>
            <%= link_to 'Edit', edit_workout_path(workout) %> |
            <%= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate @workouts %>
<br />

<% if person_signed_in? %>
  <%= link_to 'New Workout', new_workout_path %>
<% end %>
