<%= form_for @person do |f| %>
  <p><%= f.submit (@person.new_record? ? "Sign up" : "Update") , :class=>'btn large primary' %></p>
  <%= f.error_messages %>
  <table>
    <tr align='top'>
      <td>
        <p>
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </p>
        <p>
          <%= f.label :private %><br />
          <%= f.check_box :private %>
        </p>
        <p>
          <%= f.label :email, "Email Address" %><br />
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation, "Confirm Password" %><br />
          <%= f.password_field :password_confirmation %>
        </p>
        <p>
          <%= f.label :measures_to_show %><br />
          <%= f.text_field :measures_to_show %>
        </p>
      </td>
      <td>
        <p>
          <%= f.label :goal_type %><br />
          <%= f.radio_button :goal_type, "lbs" %> lbs<br/>
          <%= f.radio_button :goal_type, "%fat" %> %fat
        </p>
        <p>
          <%= f.label :goal %><br />
          <%= f.text_field :goal %>
        </p>
        <p>
          <%= f.label :height_feet %><br />
          <%= f.text_field :height_feet %>
        </p>
        <p>
          <%= f.label :height_inches %><br />
          <%= f.text_field :height_inches %>
        </p>
        <p>
          <strong>Trend Alpha (suggested .1 - .25)</strong><br />
          <%= f.text_field :alpha %><br/>
        </p>
        <p>
          <strong>
            Binge detection
          </strong>
          <br>
          <%= f.text_field :binge_percentage %>
          </br>
        </p>
        <p>
          Email a daily report
          <br>
          <%= f.check_box :send_email %>
          </br>
        </p>
        <p>
            Time for daily email:
          <br>
          <%= f.time_select :time_to_send_email %>
          </br>
        </p>
      </td>
    </tr>
        <tr>
          <td colspan='2'>
            To get your withings data, hit the Share button in your dashboard, and pick the Share on the web option.</br>
            <%= image_tag 'withings_api_key_etc.PNG', :size=>'800x300' %>
            <p>
              <%= f.label :withings_id %> User ID<br />
              <%= f.text_field :withings_id %>
            </p>
            <p>
              <%= f.label :withings_api_key %><br />
              <%= f.text_field :withings_api_key %>
              <p><%= f.submit (@person.new_record? ? "Sign up" : "Update") , :class=>'btn large primary' %></p>
            </p>
          </td>
        </tr>
      </table>
    <% end %>

    Avatars from <a href="http://en.gravatar.com/">gravatar.com</a><br/>
    <%= link_to "Update from Withings",  :controller=>"measures", :action=>"refresh" %>
    <br/>
    <%= link_to "Delete All Measures (careful!)", :controller=>"measures", :action=>"deleteall" %>

