<table width='100%' class="table table-striped">
  <tr>
    <th>#</th>
    <th>Weight</th>
    <th>Trend</th>
    <th>Karma *</th>
    <th>Grade</th>
    <th>Trend %</th>
    <th>Fat %</th>
    <th>BMI</th>
    <th>Measure Date</th>
    <% if person_signed_in? and current_person == @person %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    <% end %>
  </tr>
  <% counter = 1 %>
  <% @measures.each do |measure| %>
    <tr>
      <td><%= counter %><% counter = counter + 1 %></td>
      <td <%= "class='binge'" if measure and measure.is_binge? %>><%= Utility.floatformat % measure.weight %></td>
      <td><%= Utility.floatformat % measure.trend if measure.trend %></td>
      <td><%= Utility.floatformat % measure.karma if measure.karma %></td>
      <td><strong><%= @person.karma_grade(measure) if measure.karma %></strong></td>
      <td>
        <% if (Utility.floatformat % measure.trend_percentage).to_i >= 100 %>
          <div class='label label-success'>
          <% else %>
            <div class='label label-important'>
            <% end %>
            <%= Utility.floatformat % measure.trend_percentage if measure %>
          </div>
        </td>
        <td><%= Utility.floatformat % measure.fatpercentage if measure.fat %></td>
        <td><%= Utility.floatformat % @person.get_bmi(measure.trend) if measure.trend %></td>
        <td><%= measure.measure_date.strftime('%a') %> <%= measure.measure_date.to_s(:short) %> (<%= time_ago_in_words(measure.measure_date) %>)</td>
        <% if person_signed_in? and current_person == @person %>
          <td><%= link_to "Edit", edit_measure_path(measure) %></td>
          <td><%= link_to "Delete", measure, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= paginate @measures %>
<p>
  <small>  
    <ul>
      <li>
        Karma: If you are at your goal weight and not gaining you will have a karma of 100.
      </li>
      <li>
        Karma rank: How does your current karma compare with your best ever karma.
      </li>
      <li>
        <div class='binge'>
          Days above the trend are red.
        </li>
      </ul>
    </small>

