<META HTTP-EQUIV="REFRESH" CONTENT="300">

<center>
  <div class='dashboard_title'>
    <%= image_tag @person.gravatar_url %>
    <%= @person.name! %>
  </div>
</center>

<div class='dashboard'>
  <div class="ui-grid-a">
    <div class="ui-block-a">Karma Grade</div>
    <div class="ui-block-b"><strong><%= @person.current_karma_grade %></strong></div>
    <div class="ui-block-a">Karma Rank</div>
    <div class="ui-block-b"><strong><%= @person.karma_rank if @person.karma_rank %> / <%= @person.measures.size.to_s %></strong></div>
    <div class="ui-block-a">Weight</div>
    <div class="ui-block-b"><strong><%= Utility.floatformat % @person.current_measure.weight %></strong></div>
    <div class="ui-block-a">Trend Weight</div>
    <div class="ui-block-b"><strong><%= Utility.floatformat % @person.current_measure.trend %></strong></div>
    <div class="ui-block-a">Goal</div>
    <div class="ui-block-b"><strong><%= Utility.floatformat % @person.goal.to_s %></strong></div>
    <div class="ui-block-a">In 3 months</div>
    <div class="ui-block-b"><strong><%= Utility.floatformat % @person.in3months if @person.in3months %></strong></div>
    <div class="ui-block-a">As of</div>
    <div class="ui-block-b"><small><%= time_ago_in_words @person.current_measure.measure_date %> ago</small></div>
  </div>
</div>
<p/>
  <center>
    <% size = '600x300' %>
    <% if @person.get_measures(7) %>
      <img src=<%= getchart(@person.get_measures(7), "7 Day Trend " + Utility.floatstringlbs(@person.last(7).to_s), 7, @person, size) %>/>
    <% end %>
    <p/>
      <% if @person.last(30) %>
        <img src=<%=  getchart(@person.get_measures(30), "30 Day Trend " + Utility.floatstringlbs(@person.last(30).to_s), 30, @person, size) %>/>
      <% end %>
    </center>
