<table width='800'>
  <tr>
    <th>
      Person
    </th>
    <th>
      Last Measure
    </th>
    <th>
      Measures
    </th>
    <th>
      Last Weight
    </th>
    <th>
      Karma score
    </th>
  </tr>
  <% @people.each do |person|%>
    <tr>
      <td>
        <%= image_tag(person.gravatar_url) %>
        <%= link_to person.name!, person %>
      </td>
      <td>
        <%= person.current_measure.measure_date.to_s(:short) if person.current_measure %>
        <% if person.current_measure %>
          (<%= time_ago_in_words(person.current_measure.measure_date) if person.current_measure %> ago)
        <% end %>
      </td>
      <td>
        <%= person.measures.size.to_s %>
      </td>
      <td>
        <%= Utility.floatformat % person.current_measure.weight if person.current_measure %>
      </td>
      <td>
        <strong>
          <%= link_to(person.karma_grade(person.current_measure), :controller=>"people", :action=>"dashboard", :id=>person.id) if person.current_measure %>
        </strong>
      </td>
    </tr>
  <% end %>
</table>
