<h1>
  <%= image_tag @person.gravatar_url if Person.online %> <%= @person.name! %> 
</h1>

<ul class="nav nav-pills">
  <li class="active">
  <%= link_to 'Overview', '#' %>
  </li>
  <li>
  <%= link_to 'Weight', @person %>
  </li>
  <% if current_person %>
    <li>
    <%= link_to 'New Workout', new_workout_path, :class => 'btn btn-small' %>
    </li>
  <% end %>
</ul>

<div class='row'>
  <div class='span5 offset1'>
    <%= render 'weight_chart' %>
  </div>
  <div class='span5'>
    <%= render 'workout_chart' %>
  </div>
</div>

<table class='table table-compressed table-striped'>
  <thead>
  <tr>
    <th></th>
    <th colspan='3'><center>Weight Overview</center></th>
    <th colspan='4'><center>Workout Overview</center></th>
  </tr>
  <tr>
    <th>When</th>
    <th>Weight</th>
    <th>Karma</th>
    <th>Grade</th>
    <th>Rating</th>
    <th>Description</th>
    <th>7 Day Score</th>
    <th>Grade</th>
    <th></th>
  </tr>
  </thead>

  <% @workouts.each do |workout| %>
    <tr>
      <td>
        <% if workout.workout_date %>
          <%= workout.workout_date.to_s(:slim) %>
          (<%= time_ago_in_words workout.workout_date %> ago)
        <% else %>
          -
        <% end %>
      </td>
    <td>
      <% w = @measures[:weight][workout.workout_date.to_date] %>
      <%= Utility.floatformat % w.to_f if w %>
    </td>
    <td>
      <% k = @measures[:karma][workout.workout_date.to_date] %>
      <%= Utility.floatformat % k if k %>
    </td>
    <td><strong><%= Person.grade(k) if k %></strong></td>
    <td><%= workout.rating.nil? ? '-' : workout.rating %></td>
    <td><%= workout.description.nil? ? '-' : truncate(workout.description) %></td>
    <td>
      <%= @all_workout_days[:against_goal][workout.workout_date.to_date].to_s %> /
      <%= @all_workout_days[:scores][workout.workout_date.to_date].to_s %>
    </td>
    <td><strong><%= Person.grade(@all_workout_days[:scores][workout.workout_date.to_date]) %></strong></td>
    <% if person_signed_in? and current_person.id == workout.person.id %>
      <td>
        <% if workout.id %>
          <%= link_to 'Edit', edit_workout_path(workout) %> |
          <%= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @workouts %>
<br />
