<p>
  <b>Person:</b>
  <%= @bp.person.name! %>
</p>

<p>
  <b>Dia:</b>
  <%= @bp.dia %>
</p>

<p>
  <b>Sys:</b>
  <%= @bp.sys %>
</p>

<p>
  <b>Measure date:</b>
  <%= @bp.created_at.to_s(:long) %>
</p>


<%= link_to 'Edit', edit_bp_path(@bp) %> |
<%= link_to 'Back', bps_path %>
