<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
    <th>Person</th>
    <th>Date</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= link_to post.name, post %></td>
      <td><%= post.person.username %></td>
      <td><%= post.created_at.to_s(:long) %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
