<h1>
  <%= @post.name %>
  <small>
    <br>
    <%= @post.person.username %> - <%= @post.created_at.to_s(:long) %>
    </br>
  </small>
</h2>

<% size = '600x250' %>

<center>
  <img src=<%= getchart(@measures, @measures.size.to_s + " Day Trend " + 
                         Utility.floatstringlbs(@post.person.trend_range(@measures).to_s), 
                         @measures.size, 
                         @post.person, size) %>>
                         <br>
                         <%= @post.start_date.to_s(:long) %> - <%= @post.end_date.to_s(:long) %>
                         </br>
                       </center>

                       <%= raw RDiscount.new(@post.body).to_html %>

                      <p>
                        <%= link_to "Edit", edit_post_path(@post) %> |
                        <%= link_to "Delete", @post, :confirm => 'Are you sure?', :method => :delete %> |
                        <%= link_to "View All", posts_path %>
                      </p>
