<table>
  <tr>
    <td style="vertical-align:middle">
      <%= image_tag @person.gravatar_url %><br/>
      &nbsp;
      <%= @person.username %>
      <small>
        <table>
          <tr>
            <td>
              Goal: <strong><%= @person.goal.to_s +  @person.goal_type %></strong>.
              <p/><p/>
                  Trend in<br/>
                  3 months:<br/>
                  <strong><%= Utility.floatformat % @in3months if @in3months %></strong>
                  <p/>
                    Karma rank: <strong><%= @karma_rank if @karma_rank %></strong></br>
                    Karma grade: <strong><%= @person.karma_grade @person.current_measure %></strong>
                  </td>
                </tr>
              </table>
            </small>
          </td>
          <td>
            <%= 'You need at least 7 measures to derive trend data.' if @measures.size < 7 %>
            <% if @last7 %>
              <img src=<%=  getchart(@max_days, @week_measures, "7 Day Trend " + Utility.floatstringlbs(@last7.to_s), 7, @person) %>/>
            <% end %>
          </td>
          <td>
            <% if @last30 %>
              <img src=<%=  getchart(@max_days, @month_measures, "30 Day Trend " + Utility.floatstringlbs(@last30.to_s), 30, @person) %>/>
            <% end %>
          </td>
          <td>
            <% if @lastall %>
              <img src=<%=  getchart(@max_days, @all_measures, @max_days.to_s + " Day Trend " + Utility.floatstringlbs(@lastall.to_s), @max_days, @person) %>/>
            <% end %>
          </td>
        </tr>
      </table>

      <%= render 'measures_table' %>
      <strong>
        Posts
      </strong>
      <% if @posts.size %>
        <ul>
          <% @posts.each do |post| %>
            <li>
              <%= link_to post.name, post %>
            </li>
          <% end %>
        <% end %>

        <p/>
          <%= will_paginate @measures %>
          <small>  
            *Karma: If you are at your goal weight and not gaining you will have a karma of 100.</br>
            *Karma rank: How does your current karma compare with your best ever karma.
          </small>
          <p/>
