<% floatformat = "%.2f" %>
<% floatformat_no_decimals = "%.0f" %>

<table>
  <tr>
    <td style="vertical-align:middle">
      <%= image_tag @person.gravatar_url %><br/>
      &nbsp;
      <%= @person.username %>
      <small>
        <table>
          <tr>
            <td>
              Goal of <strong><%= @person.goal.to_s +  @person.goal_type %></strong>.
              <p/><p/>
                  Trend in<br/>
                  3 months:<br/>
                  <strong><%= floatformat % @in3months if @in3months %></strong>.
                  <p/>
                    Karma rank: <strong><%= @karma_rank %></strong>
                  </td>
                </tr>
              </table>
            </small>
          </td>
          <td>
            <% if @lcurl7 %>
              <img src=<%= @lcurl7 %>/>
            <% end %>
          </td>
          <td>
            <% if @lcurl30 %>
              <img src=<%= @lcurl30 %>/>
            <% end %>
          </td>
          <td>
            <% if @lcurlall %>
              <img src=<%= @lcurlall %>/>
            <% end %>
          </td>
        </tr>
      </table>

      <p/>
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <th>#</th>
                  <th>Weight</th>
                  <th>Trend</th>
                  <th>Karma *</th>
                  <th>Fat %</th>
                  <th>BMI</th>
                  <th>Measure Date</th>
                  <th>Ago</th>
                </tr>
                <% counter = 1 %>
                <% for measure in @measures %>
                  <tr>
                    <td><%= counter %><% counter = counter + 1 %></td>
                    <td><%= floatformat % measure.weight %></td>
                    <td><%= floatformat % measure.trend if measure.trend %></td>
                    <td><%= floatformat % measure.karma %></td>
                    <td><%= floatformat % measure.fatpercentage if measure.fat %></td>
                    <td><%= floatformat % @person.get_bmi(measure.trend) %></td>
                    <td><%= measure.measure_date.to_s(:short) %></td>
                    <td><%= time_ago_in_words(measure.measure_date) %></td>
                    <% if logged_in? and current_person == @person %>
                      <td><%= link_to "Edit", edit_measure_path(measure) %></td>
                      <td><%= link_to "Destroy", measure, :confirm => 'Are you sure?', :method => :delete %></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </td>
            <td>
              <strong>
                Posts
              </strong>
              <% if @posts.size %>
                <ul>
                  <% @posts.each do |post| %>
                    <li>
                      <%= link_to post.name, post %>
                    </li>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
          <%= will_paginate @measures %>
          <small>  
            *Karma: If you are at your goal weight and not gaining you will have a karma of 100.
          </small>
          <p/>
