<% floatformat = "%.2f" %>
<% floatformat_no_decimals = "%.0f" %>

<center>
  <table>
    <tr>
      <td style="vertical-align:middle">
        <%= image_tag @person.gravatar_url %><br/>
        &nbsp;
        <%= @person.username %>
      </td>
      <td>
        <img src=<%= @lcurl7 %>/>
        <br/>
        7 days: <%= floatformat % @last7 if @last7 %>
      </td>
      <td>
        <img src=<%= @lcurl30 %>/>
        <br/>
        30 days: <%= floatformat % @last30 if @last30 %>
      </td>
      <td>
        <img src=<%= @lcurlall %>/>
        <br/>
        100 days: <%= floatformat % @last100 if @last100 %>
      </td>
    </tr>
  </table>

  <p/>
  </center>
  Goal of <strong><%= @person.goal_weight %></strong>. Predicted weight in 3 months: <strong><%= floatformat % @in3months if @in3months %></strong>. &nbsp;Karma = % off goal weight + weight loss speed 100 being the goal.
  <table width='80%'>
    <tr>
      <th>#</th>
      <th>Weight</th>
      <th>Trend</th>
      <th>Karma</th>
      <th>Delta</th>
      <th>From goal</th>
      <th>User</th>
      <th>Measure Date</th>
      <th>Ago</th>
      <th>Fat %</th>
      <th>BMI</th>
    </tr>
    <% counter = 1 %>
    <% for measure in @measures %>
      <tr>
        <td><%= counter %><% counter = counter + 1 %></td>
        <td><%= floatformat % measure.weight %></td>
        <td><%= floatformat % measure.trend if measure.trend %></td>
        <td><%= floatformat_no_decimals % measure.karma %></td>
        <td><%= '+' if measure.delta and measure.delta > 0 %><%= floatformat % measure.delta if measure.delta %></td>
        <td><%= floatformat % (measure.trend - @goal_weight) %></td>
        <td><%= measure.person.username %></td>
        <td><%= measure.measure_date.to_s(:long) %></td>
        <td><%= time_ago_in_words(measure.measure_date) %></td>
        <td><%= floatformat % (measure.fat / measure.weight * 100) if measure.fat %></td>
        <td><%= floatformat % @person.get_bmi(measure.trend) %></td>
        <td><%= link_to "Edit", edit_measure_path(measure) %></td>
        <td><%= link_to "Destroy", measure, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @measures %>


