<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Slim" %></title>
    <%= javascript_include_tag :defaults %>
    <!--
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    -->
    <%= stylesheet_link_tag "slim.css" %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    &nbsp;
    <%= yield %>
    <h1><%= link_to "Slim", :people %></a></h1>
</div>
</body>
</html>
